/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/
/* Fix the box width wrapping thing... */
*, *:before, *:after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }


body {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.text-test-container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.image-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 999999;
}

.image-holder {
  z-index: 999999;
}

.image-holder img
{
  width: 10vw;
  z-index: 999999;
}

.language-container {
  position: absolute;
  top: 0px;
  right: 0px;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 999999;
  padding: 2.5vh;
  font-size: 2.9vh;
  font-family: sans-serif;
  font-weight: bolder;
  color: #04AA6D;
}

#language-selector {
  cursor: pointer;
}

.top-container {
  position: absolute;
  z-index: 501;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 3vh;
  padding-right: 2.5vw;
  padding-left: 2.5vw;
  margin-right: auto;
  margin-left: auto;
}

.time-container {

}

#time {
  text-align: center;
  font-size: 8vh;
  margin-block-start: unset;
  margin-block-end: 2vw;
  color: #d5d5d5;
  font-family: sans-serif;
}

#date {
  text-align: center;
  font-size: 3vh;
  margin-block-start: unset;
  color: #d5d5d5;
  font-family: sans-serif;
  margin: 0;
}

.date-container {
  display: flex;
  flex-wrap: wrap;
  margin-block-end: 3vw;
}

.arrow-right {
  padding-left: 4vw;
  text-align: left!important;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  /* lol IS IT CENTERED NOW!? */
  align-self: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.arrow-left {
  padding-right: 4vw;
  text-align: right!important;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  /* lol IS IT CENTERED NOW!? */
  align-self: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

svg {
  width: 5vw;
  fill: #04AA6D;
}

#arrow-left {
  transform: rotate(180deg);
  cursor: pointer;
}

#arrow-right {
  cursor: pointer;
}

.slider-container-big-screen {
  margin-left: 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.slider-container-small-screen {

}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3vh;
  background: #d3d3d3;
  border-radius: 7vw;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4vh;
  height: 4vh;
  border-radius: 7vw;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 5vw;
  height: 5vw;
  background: #04AA6D;
  cursor: pointer;
}


#map {
  position: absolute;
  top: 0;
  bottom: 0;
  max-width: 100%;
  height: 600px;
  overflow: hidden;
}

.mapboxgl-popup-close-button {
  display: none;
}

.recipe-name {
  font-size: 5vh;
  color: #117e56;
}

#active-popup {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  font-size: 4vh;
  line-height: initial;
  word-wrap: break-word;
  background: #e7d4b7c4;
  color: #6c6151;
  max-height: 50vh;
  border-radius: 5vw;
  overflow-y: scroll;
  padding: 2vh;
}

#active-popup::-webkit-scrollbar {
    width: 2vw;
}

#active-popup::-webkit-scrollbar-track {
    background-color: transparent;
}

#active-popup::-webkit-scrollbar-thumb {
  background-color: #6c6151;
  border-radius: 2vw;
  border: 1vw;
  background-clip: content-box;
}

#active-popup::-webkit-scrollbar-thumb:hover {
  background-color: #91836f;
}

#active-popup::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 4vh;
}

#active-popup::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 4vh;
}

#active-popup-tip {
  display: none;
}

.mapboxgl-canvas {

}
