/*********************************************

Here is a description of any special CSS used.
By default that's nothing.

**********************************************/
body {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  background-color: beige;
  margin-left: 20%;
  margin-right: 20%;
}

.poem-container {
  border: 3px solid #fff;
  padding: 20px;
  overflow: auto;
}

.poem-child {
  width: 45%;
  float: left;
  padding: 20px;
  border: 2px solid red;
}

.poem-title {
  padding-left: 8%;
  border: 2px solid red;
}

.poem {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  padding-left: 15%;
}

.secretWord0 {
  font-weight: bolder;
}
.secretWord1 {
  font-weight: bolder;
}
.secretWord2 {
  font-weight: bolder;
}
.secretWord3 {
  font-weight: bolder;
}
.secretWord4 {
  font-weight: bolder;
}


#word0 {
  color: orange;
}
#word1 {
  color: blue;
}
#word2 {
  color: red;
}
#word3 {
  color: green;
}
#word4 {
  color: yellow;
}
